<div class="container mt-4">

  <div class="row">

    <div class="col-md-6 offset-md-3">

      <div class="card shadow-sm border-0 rounded-3">

        <img [src]="character.imageUrl || defaultNoImage" class="card-img-top rounded-top" alt="{{ character.name }}" />

        <div class="card-body">

          <h5 class="card-title fw-semibold text-center">{{ character.name }}</h5>



          <p *ngIf="character.films?.length > 0; else noFilms"><strong>Films:</strong> {{ character.films.join(', ') }}</p>

          <ng-template #noFilms><p class="text-muted">No films available.</p></ng-template>



          <p *ngIf="character.shortFilms?.length > 0; else noShortFilms"><strong>Short Films:</strong> {{ character.shortFilms.join(', ') }}</p>

          <ng-template #noShortFilms><p class="text-muted">No short films available.</p></ng-template>



          <p *ngIf="character.tvShows?.length > 0; else noTvShows"><strong>TV Shows:</strong> {{ character.tvShows.join(', ') }}</p>

          <ng-template #noTvShows><p class="text-muted">No TV shows available.</p></ng-template>



          <p *ngIf="character.allies?.length > 0; else noAllies"><strong>Allies:</strong> {{ character.allies.join(', ') }}</p>

          <ng-template #noAllies><p class="text-muted">No allies available.</p></ng-template>



          <p *ngIf="character.enemies?.length > 0; else noEnemies"><strong>Enemies:</strong> {{ character.enemies.join(', ') }}</p>

          <ng-template #noEnemies><p class="text-muted">No enemies available.</p></ng-template>



          <div class="text-center mt-3">

            <a [href]="character.sourceUrl" class="btn btn-primary w-100" target="_blank">View Source</a>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
