<footer class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid justify-content-between">

    <!-- About Button -->
    <a class="btn btn-outline-light" routerLink="about">About</a>

    <!-- GitHub Link -->
    <a class="btn btn-outline-light" href="https://github.com/justin-daniel-api/disney-api" target="_blank">
      Contact
    </a>

    <!-- Dark Mode Toggle (Functionality to be added later) -->
    <button class="btn btn-outline-light">Dark Mode</button>

  </div>
</footer>
