<div>
  <div class="container mt-5" *ngIf="characters.length > 0; else showContent">
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let character of characters">
        <div class="card h-100 shadow-sm border border-dark">
          <img [ngSrc]="character.imageUrl || defaultNoImage" class="card-img-top border" alt="{{ character.name }}"
            width="325" height="225" />
          <div class="card-body text-left">
            <h5 class="card-title">{{ character.name }}</h5>
          </div>
          <div class="card-footer d-flex justify-content-start gap-3">
            <button class="btn btn-primary" (click)="addToDeck(character)">Add to Deck</button>
            <button class="btn btn-secondary" (click)="viewDetails(character)">Single View</button>
          </div>
        </div>
      </div>
    </div>
      <ngb-pagination 
        class="d-flex justify-content-end" 
        [collectionSize]=characters.length 
        [(page)]="currentPage" 
        [maxSize]="pageSize" 
        [boundaryLinks]="true"
        (pageChanged)="onPageChanged($event)"
      />
  </div>

  <ng-template #showContent>
    <div class="text-center">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      </div>
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>