<div class="container">
    <p class="h1">Prime time is now</p>
</div>

<div class="container p-3 bg-primary-subtle" id="even" style="height: 350px;">
    <img [src]="image_2" alt="castle">
    <p>ipsum lorem, click below to see lorem ipsum introduces disney to all the magical people here. Wow such amazing designs.
    </p>
</div>

<br>

<div class="container p-3 bg-secondary-subtle" id="odd" style="height: 350px;">
    <img [src]="image_1" alt="starwars chewy">
    <p>ipsum lorem, click below to see lorem ipsum introduces disney to all the magical people here. Wow such amazing designs.
    </p>
</div>

